DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
WEATHER_API_KEY=
ENABLE_GUILD_MEMBERS_INTENT=false
ENABLE_MESSAGE_CONTENT_INTENT=false
XP_PERMS=
STAFF_ROLE=
LOG_CHANNEL=
VOICE_CHANNEL=
XP_PER_MESSAGE=1
XP_COOLDOWN_SECONDS=5
